body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* paulmillr.github.io base styles */
.curve-selector { padding-right: 1rem; }
.curve-selector > label { padding-left: 0.25rem; }
.curve-data code { line-break: anywhere; }
.curve-data td:first-child { width: 5rem; }



/* Stuff for peer testing*/
@media only screen and (min-width: 576px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%
  }
  
  .col {
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%
  }
  
  .col {
    min-width: 100%;
    height: 100%;
  }
}